body {
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

/* variables  */
:root {
  --primaryColor: #1c2237;
  --primary-04: rgba(28, 34, 55, 0.04);
  --primary-500: rgba(28, 34, 55, 0.5);
  --secondaryColor: #rgba(0, 0, 0, 0.05);
  --primarySoftBgColor: #e8e8e8;
  --headingColor: #111;
  --paragraphColor: #6c757d;
  --whiteColor: #fff;
  --lightColor: #767676;
  --lightBgColor: #f8fafa;
  --lightBgColor: rgb(248, 248, 248);
  --borderColor: #e8e8e8;
  --white-750: rgba(255, 255, 255, 0.75);
  --spanBgColor: rgba(58, 60, 70, 0.05);
  --footerColor: #21272c;
  --linkColorActive: rgb(192, 192, 192);
}
/* global style  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
p,
a,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section {
  padding: 5rem 0rem;
}
.light-bg {
  background-color: var(--lightBgColor);
}
.primary-soft-bg {
  background-color: var(--primarySoftBgColor);
}
.ds-text-primary {
  color: var(--primaryColor);
}
.bg-overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(11, 11, 11, 0.9);
}

/* utilities  */
.custom-link {
  color: var(--primarySoftBgColor);
  font-size: 0.9rem;
  display: inline-block;
  letter-spacing: 0;
  transform-origin: left;
  font-weight: 700;
}
.custom-link:hover {
  color: var(--primaryColor);
  transform: translateX(5px);
  letter-spacing: 1px;
}
.text-custom-light {
  color: #fefefe;
}
.btn {
  font-size: 0.9rem;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}
.btn-custom {
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  color: #fff;
}
.btn-custom:hover {
  color: #fff;
}
.btn-outline-custom {
  border: 1px solid var(--primaryColor);
}
.btn-outline-custom:hover {
  background-color: var(--primaryColor);
  color: #fff;
}
.section-span {
  display: inline-block;
  background-color: var(--primary-04);
  text-transform: uppercase;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: var(--primaryColor);
  letter-spacing: 0;
  margin-bottom: 0.5rem;
  border-radius: 2px;
}
.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.h-100 {
  height: 100vh !important;
}
.mw-500 {
  max-width: 500px;
}
.mw-800 {
  max-width: 800px;
}
.z-index {
  z-index: 10;
}
/* navbar css start  */
.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler span {
  width: 20px;
  height: 1px;
  display: block;
  background-color: var(--primaryColor);
  margin: 6px 0px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.navbar-custom-white {
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  position: fixed;
  z-index: 100;
  animation: topToBottom 1s;
  height: auto;
}
@keyframes topToBottom {
  0% {
    opacity: 0;
    top: -100%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.navbar-custom-white .nav-link {
  color: var(--headingColor) !important;
}
.navbar-custom-white .logo {
  color: var(--headingColor) !important;
}
.nav-link {
  color: var(--whiteColor) !important;
  margin: 0rem 0.5rem;
  transition: all 0.5s ease;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.nav-link:hover,
.nav-link.active {
  color: var(--linkColorActive) !important;
}

/* about me section css start  */
.about-image {
  position: relative;
  z-index: 5;
  border-radius: 1rem;
}
.about-image img {
  border-radius: 0.5rem;
}
.about-image::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 1rem;
  right: -1rem;
  border: 2px solid var(--primaryColor);
  z-index: -1;
  border-radius: 0.5rem;
}
/* counter css start  */

.counter-icon {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}
/* progress css start /////////////// */
.progress {
  height: 5px;
  background-color: var(--secondaryColor);
}
.progress {
  margin-bottom: 2rem !important;
}
.progress-bar {
  width: 0%;
  opacity: 0;
  transition: all 2s;
  background-color: var(--primaryColor);
}
/* service css start  */
.service-card {
  /* border: 2px solid var(--borderColor); */
  /* border-right: 1px solid var(--borderColor); */
  cursor: pointer;
  overflow: hidden;
  /* border-radius: 5px; */
  text-align: center;
  padding: 10%;
  margin-top: 1.5rem;
  box-shadow: 2px 14px 28px rgba(0, 0, 0, 0.04);
}
.service-icon {
  margin: 0rem auto 2rem;
  position: relative;
  background-color: var(--primary-04);
  height: 40px;
  width: 40px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-icon i {
  color: var(--primaryColor);
}
.service-card:hover {
  /* transform: scale(1.02); */
  box-shadow: 2px 14px 28px rgba(0, 0, 0, 0.04);
  transform: translateY(-20px);
}
.service-card:hover .service-icon {
  background-color: var(--primaryColor);
}
.service-card:hover .service-icon i {
  color: var(--whiteColor);
}
/* portfolio css start  */

.work_menu li a {
  cursor: pointer;
  display: block;
  color: #000;
  border-radius: 5px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 16px;
  transition: all 0.5s;
  margin-top: 5px;
}

.work_menu a.active,
.work_menu a:hover {
  color: #fff !important;
}

.work_item {
  position: relative;
  /* padding: 15px; */
}

.work_box {
  overflow: hidden;
  position: relative;
}

.work_box .work_img {
  position: relative;
  overflow: hidden;
  /* border-radius: 5px; */
}

.work_box .work_img:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* border-radius: 5px; */
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.work_box .work_img > img {
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  /* transition: all 0.3s ease-in-out; */
  /* border-radius: 0; */
}

.work_box .work_detail {
  opacity: 0;
  color: #ffffff;
  width: 100%;
  /* padding: 20px; */
  box-sizing: border-box;
  position: absolute;
  left: 0;
  overflow: hidden;
  /* transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1); */
  transition: all 0.3s ease-in-out;
}

.work_box .work_detail h4 {
  font-size: 18px;
}

.work_box .work_detail p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

.work_box:hover .work_detail {
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
}

.work_box:hover .work_img:after {
  background: rgba(0, 0, 0, 0.8);
}
.work_menu a.active,
.work_menu a:hover {
  background-color: var(--primaryColor);
}
.work_detail ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_detail ul li {
  margin: 0rem 0.5rem;
}
.work_detail ul li a {
  color: white;
}
/* contact css  */
#contact {
  background-color: var(--footerColor);
}
.contact-form input,
.contact-form textarea {
  border: none;
  /* box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%); */
  border: 2px solid rgba(51, 51, 51, 0.1);
  border: 2px solid var(--borderColor);

  border-radius: 5px !important;
}
.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 5%);
  border: 2px solid var(--primaryColor);
}

.contact-form ::placeholder {
  color: var(--borderColor) !important;
}
.contact-form ::-ms-input-placeholder {
  color: red !important;
}
.contact-form :-ms-input-placeholder {
  color: red !important;
}

.contact-icon-box i {
  color: var(--primaryColor);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--primary-04);
}

/* testimonial css start  */
.testimonials-card {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.25rem;
  max-width: 500px;
  margin: auto;
}
.testimonials-card i {
  color: var(--primaryColor);
}
.testimonials-card .ratings i {
  font-size: 0.725rem;
  margin-bottom: 2rem;
}
.testimonials-image {
  height: 6rem;
  width: 6rem;
  background-color: #fff;
  border-radius: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 0.125rem solid var(--primary-04);
}
.testimonials-image img {
  border-radius: 50%;
}
.testimonials-name {
  padding-top: 4rem;
}
.testimonials-name h3 {
  text-transform: capitalize;
}

button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* pricing css start  */

.nav-tabs {
  border-top: 2px solid rgba(16, 16, 16, 0.075) !important;
  border-right: 2px solid rgba(16, 16, 16, 0.075) !important;
  border-left: 2px solid rgba(16, 16, 16, 0.075) !important;
  border-bottom: 0px !important;
  border: 0 !important;
  /* border-radius: 5px !important; */
  border-radius: 5px;
  overflow: hidden;
  /* border-left: 2px solid rgba(16, 16, 16, 0.075) !important;
        border-top: 2px solid rgba(16, 16, 16, 0.075) !important;
        border-right: 2px solid rgba(16, 16, 16, 0.075) !important; */
  background-color: var(--lightBgColor);
}
.nav-tabs .nav-item {
  width: 33.33%;
}
.nav-tabs .nav-item .nav-link {
  width: 100%;
  border: none !important;
  border-radius: 0 !important;
  color: var(--headingColor) !important;
  outline: none !important;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  /* border-bottom: 2px solid red !important; */
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white !important;
  background-color: var(--primaryColor);
  /* border: 2px solid red !important; */
  border: 0 !important;
  /* border-radius: 5px !important; */
}
.pricing-card {
  border: 2px solid rgba(16, 16, 16, 0.075);
  border-radius: 5px;
  /* border-top: 0px !important; */
  margin-top: 2rem;
}
.pricing-card .card-header {
  padding-top: 2rem !important;
  background-color: transparent !important;
  border-bottom: 2px solid rgba(16, 16, 16, 0.075);
  /* border-bottom: 0; */
}
.pricing-card .card-footer {
  border: 0;
  background-color: #fff;
}
.owl-carousel .card {
  border: 0 !important;
  cursor: ew-resize;
}
#pricing .card,
#pricing .card-header,
#pricing .card-footer {
  border: 0 !important;
}
#pricing .card {
  border: 1px solid var(--borderColor) !important;
}

#pricing .card-header {
  background-color: #fff;
  border-bottom: 1px solid var(--borderColor) !important;
}
#pricing .card-footer {
  border-top: 1px solid var(--borderColor) !important;
  background-color: #fff;
}
#pricing .list-group,
#pricing .list-group-item {
  border: 0 !important;
}
.pricing-card ul {
  padding-bottom: 1rem;
}
.pricing-card ul li {
  padding: 0.5rem 0rem;
}
.card-primary {
  background-color: var(--lightBgColor);
}
.card-primary ul li,
.card-primary .card-footer {
  background-color: var(--lightBgColor) !important;
}
p {
  font-size: 1.125rem;
  line-height: 2rem;
}
/* serviuces  */
/* blog css  start  */

.client-wrapper .blog-wrap .blog-card-wrap .blog-card,
.blog-wrapper .blog-wrap .blog-card-wrap .blog-card {
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.client-wrapper .blog-wrap .blog-card-wrap .blog-card:hover,
.blog-wrapper .blog-wrap .blog-card-wrap .blog-card:hover {
  cursor: pointer;
}

.client-wrapper .blog-wrap .blog-card-wrap .blog-card:hover .blog-img img,
.blog-wrapper .blog-wrap .blog-card-wrap .blog-card:hover .blog-img img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.client-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-img,
.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-img {
  overflow: hidden;
}

.client-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-img img,
.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-img img {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.client-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-content,
.blog-wrapper .blog-wrap .blog-card-wrap .blog-card .blog-inner .blog-content {
  padding: 20px 0 20px 30px;
}

.client-wrapper
  .blog-wrap
  .blog-card-wrap
  .blog-card
  .blog-inner
  .blog-content
  h5,
.blog-wrapper
  .blog-wrap
  .blog-card-wrap
  .blog-card
  .blog-inner
  .blog-content
  h5 {
  opacity: 0.6;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.01px;
  color: #292825;
}

.client-wrapper
  .blog-wrap
  .blog-card-wrap
  .blog-card
  .blog-inner
  .blog-content
  h4,
.blog-wrapper
  .blog-wrap
  .blog-card-wrap
  .blog-card
  .blog-inner
  .blog-content
  h4 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.27px;
  color: #031d3c;
}

.client-wrapper
  .blog-wrap
  .blog-card-wrap
  .blog-card
  .blog-inner
  .blog-content
  .blog-box,
.blog-wrapper
  .blog-wrap
  .blog-card-wrap
  .blog-card
  .blog-inner
  .blog-content
  .blog-box {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-wrapper
  .blog-wrap
  .blog-card-wrap
  .blog-card
  .blog-inner
  .blog-content
  .blog-box
  h6,
.blog-wrapper
  .blog-wrap
  .blog-card-wrap
  .blog-card
  .blog-inner
  .blog-content
  .blog-box
  h6 {
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.01px;
  text-align: center;
  color: #292825;
}
.blog-img img {
  width: 100%;
  height: auto;
}
/* blog end  */
